<div class="weather-icon" [ngSwitch]="weatherIcon">
  <img *ngSwitchCase="'clear || scattered'" src="assets/img/sun.svg" alt="Sunny icon">
  <img *ngSwitchCase="'sun || haze'" src="assets/img/haze.svg" alt="Haze icon">
  <img *ngSwitchCase="'rain'" src="assets/img/rain.svg" alt="Rain icon">
  <img *ngSwitchCase="'snow'" src="assets/img/snow.svg" alt="Snow icon">
  <img *ngSwitchCase="'clouds'" src="assets/img/cloudy.svg" alt="Cloudy icon">
</div>