<div class="row">
  <div class="text-left data-info">
    <p>
      <span>
        <img src="assets/img/pressure.svg" alt="Pressure icon">
      </span>{{ pressure }} mm Hg</p>
    <p>
      <span>
        <img src="assets/img/humidity.svg" alt="Humidity icon">
      </span>{{ humidity }}% humidity</p>
    <p>
      <span>
        <img src="assets/img/wind-vel.svg" alt="Wind velocity icon">
      </span>{{ windVel }} m/s</p>
  </div>
</div>
