<div class="row weather-info text-center">
  <div class="col-ms-4 weather-panel">
    <app-weather-temp-info
      [temp]="temperature"
    ></app-weather-temp-info>
  </div>
  <div class="col-ms-4 weather-panel">
    <app-weather-icon 
      [weatherIcon]="weatherIcon"
    ></app-weather-icon>
  </div>
  <div class="col-ms-4 weather-panel">
      <app-weather-data-info
        [pressure]="pressure"
        [humidity]="humidity"
        [windVel]="windVel"
      ></app-weather-data-info>
  </div>
</div>
<div class="row">
  <div class="col-ms-12">
    <app-weather-message [msg]="msg"></app-weather-message>
  </div>
</div>
<div class="row">
  <div class="col-ms-12">
    <app-weather-day-info></app-weather-day-info>
  </div>
</div>
