
// Application Styles imports
@import 'parts/variables';
@import 'parts/fonts';

* {
  font-family: 'Roboto', sans-serif;
}

.background-img {
  background-image: url('assets/img/background.jpg');
  background-size: cover;
  display: block;
  height: 100vh;
  width: 100vw;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;
}

.container {
  color: $font-color;
  height: 100vh;
  width: 80vw;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  top: 10px;
  left: 0;
  position: fixed;
  margin: 5vh 10vw;
  right: 0;
  z-index: 2;
}