<div class="row">
  <div class="col-ms-12">
    <app-weather-city-info 
      [cityName]="data.name"
      [cityDate]="data.dt"></app-weather-city-info>
  </div>
  <div class="col-ms-12">
      <app-weather-panel
        [temperature]="data.main.temp"
        [weatherIcon]="data.weather[0].main"
        [pressure]="data.main.pressure"
        [humidity]="data.main.humidity"
        [windVel]="data.wind.speed"
        [msg]="data.weather"
      ></app-weather-panel>
  </div>
</div>