.search-input 
  padding: 25px
  .col-centered 
    margin: 0 auto
    float: none
    border-radius: 10px
    padding: 10px
    width: 100%
    background: transparent
    z-index: 20

::placeholder 
  color: #fff
  opacity: 1
  font-size: 16px
  border-color: #fff

::-ms-input-placeholder 
 color: #fff

::-ms-input-placeholder 
 color: #fff