<div class="container">
  <div *ngIf="data">
    <app-panel [data]="data"></app-panel>
  </div>

  <div class="text-center" *ngIf="!data">
    <h2>Search a city to know the weather.</h2>    
  </div>

  <div class="search-input">
    <input 
      class="col-centered" 
      type="text" id="cityname" 
      name="cityname" 
      [(ngModel)]="formInfo.cityName" 
      placeholder="Search city..."
      (keyup.enter)="findCityByName()">
  </div>
</div>
